<div id="mainpage">

<div id="overlay" style='display:none;'>
<script>
	if (localStorage && localStorage.getItem('mapmill:overlay') && location.hash != "#slideshow") {
		$('overlay').hide();
	} else { 
		$('overlay').show();
		localStorage.setItem('mapmill:overlay',true);
	}
</script>

<h2>Sort and select the best images to access damage after a disaster</h2>
<p><i>It takes hours to go through the thousands of images the <a href="http://www.gocivilairpatrol.com/">Civil Air Patrol</a> collects and to pick out the best ones for inclusion in disaster assessments. Help us by choosing the best images.</i></p>

<p>We want images that are show damage. Please rank the images if they contain no damage, some damage, or show complete destruction. The rest are not useful!</p>

<p>(Keyboard shortcuts: 1 = ok, 2 = not ok, 3 = bad)</p>
<p><a class='button' href="javascript:void(0);" onClick="$('overlay').toggle()">close</a></p>
</div>


<% unless params[:style] == "embed" %><a target="_blank" href="/sites/<%= @image.site.name+"/"+@image.filename %>" id="expand">full resolution (<%= @image.hits %>)</a><% end %>

<div id="image">
<img src="/sites/<%= @image.site.name+"/"+@image.filename %>" />
</div>

<div id="buttons">
	<a class="green"  href="/vote/<%= @image.id %>/10/<%= @sitename %>">ok</a>
	<a class="yellow" href="/vote/<%= @image.id %>/5/<%= @sitename %>">not ok</a>
	<a href="/vote/<%= @image.id %>/0/<%= @sitename %>">bad</a>
</div>
<script>
var voted = false
shortcut.add("1",function() { if (!voted) { window.location = "/vote/<%= @image.id %>/1/<%= @sitename %>?mapmill_id="+mapmill_id; voted = true; }});
shortcut.add("2",function() { if (!voted) { window.location = "/vote/<%= @image.id %>/5/<%= @sitename %>?mapmill_id="+mapmill_id; voted = true; }});
shortcut.add("3",function() { if (!voted) { window.location = "/vote/<%= @image.id %>/0/<%= @sitename %>?mapmill_id="+mapmill_id; voted = true; }});

setInterval(function() {
	if (location.hash == "#slideshow") window.location.reload();
},10000)
</script>
</div>
