<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MapMill: Crowdsourced Image Ranking</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <%= javascript_include_tag :defaults %>
  <% if params[:style] == "embed" %><link rel="stylesheet" href="/embed.css" type="text/css" media="screen" title="no title" charset="utf-8"><% end %>
  <script type="text/javascript" src="/javascripts/shortcut.js"></script>
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/sparklines.min.js"></script>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.loupe.js"></script>
></script>

  <script>
    // No conflict mode: JQuery play nice with Prototype
    jQuery.noConflict();

    // Zoom main image with JQuery Loupe
    jQuery(document).ready(function(){

      jQuery("#mainimage").loupe();

      // Hide on click
      jQuery("#mainimage").click(function(){
        jQuery(this).removeClass('no-loupe');
      });
      jQuery(".loupe").click(function(){
        jQuery("#mainimage").addClass('no-loupe');
      });

    });
  </script>

</head>
<body>

  <div id="header">
	<a href="/" style="padding-left:8px;">MapMill</a>: <small><i>Help the Civil Air Patrol Sort Images</i></small> 
	<% unless params[:style] == "embed" %> | 
	<a href="/sites">Sites</a> | 
        <% if @image && params[:controller] == "mapper" && (params[:action] == "index" || params[:action] == "sort") %>
            <a href='/images/<%= @image.site.name %>'>More images from <i><%= @image.site.name %></i></a> | 
            <a href="/grid/?<%= @image.site.name %>">Grid</a>
        <% end %> 
	<% end %>

	<span class="links">
                <a href='javascript:void(0);' onClick="$('overlay').toggle()"><b>Instructions</b></a> 
                <!-- <a href='javascript:void(0);' onClick="$('extras').toggle();">Extras</a>  -->
		<a href='javascript:void(0);' onClick="$('about').toggle()">About</a> 
                <!--<a href='http://farm2.static.flickr.com/1276/4703515530_4482bc2f15_o.png'>Learn how</a> -->
        </span>
  </div>
  <div id="about" class="overlay" style="display:none;">
      <h3>About this site</h3>
      <p>This project is based on code from Jeffrey Warren of the Public Laboratory for Open Technology and Science called MapMill. It was modified by Kate Chapman and Schuyler Erle at the Camp Roberts/RELIEF field exploration in August 2012, in partnership with FEMA, the Civil Air Patrol, and the Readiness, Response, Recovery (R3) team from NGA that supports FEMA.</p>
      <p>The software for this site is <a href="http://github.com/wonderchook/mapmill">Open Source</a>. If you have questions, please contact schuyler dot erle at hotosm dot org.</p>
      <p><b>Pro tip</b>: This site supports keyboard shortcuts! Hit <b>1</b> for "light", <b>2</b> for "medium", <b>3</b> for "severe", and <b>0</b> to open the image in a new window.</p>
    <p style="text-align:center"><a class='button' href="javascript:void(0);" onClick="$('about').toggle()">close</a></p>
  </div>

  <div id="embed" class="overlay" style="display:none;">
	<h3>Copy this code onto your blog or website to display a MapMill sorting box:</h3>
	<textarea rows="4"><iframe border="0" src="http://mapmill.org/embed/<%= @embed || "" %>"></iframe></textarea>
	<p><a href="javascript:void(0);" onClick="$('embed').hide();">close</a></p>
  </div>
  <div id="extras" class="overlay" style="display:none;">
	<% if params[:action] == "index" || params[:action] == "sort" %><p><a href='#slideshow'>Slideshow</a></p><% end %>
	<p><a href='javascript:void(0);' onClick="$('extras').hide();$('embed').show();">Embed</a></p> 
	<p><a href="javascript:void(0);" onClick="$('extras').hide()">close</a></p>
  </div>


  <%= yield %>

<% unless params[:debug] %>
<script type="text/javascript">
	
  /* Google Analytics: */

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-180781-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

init()
</script>
<% end %>
</body>
